/*--global--*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}


:root {
    --color-primary: #6c63ff;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75482;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #f68b1f;

    --container-width-lg: 85%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition--primary: all 0.6s ease-in-out;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    color: var(--color-white);
    background: var(--color-bg);
    transition: all 88ms;
    -webkit-transition: all 88ms;
    -moz-transition: all 88ms;
    -ms-transition: all 88ms;
    -o-transition: all 88ms;
    overflow-x: hidden;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 6rem 0;
}

/*--header--*/
header {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 4440;
}

.navbar .container {
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
    margin-left: 7rem;
}

.navbar .container .navlinks ul {
    display: flex;
    padding: 30px 0 0 0;
}

.navbar .container .navlinks ul li {
    margin: 0 2rem;
    color: var(--color-white);
    padding: 10px 0px 0px 0px;
}

.navbar .container .navlinks ul li:nth-child(4) {
    background: #a50f44;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.navbar .container .navlinks ul li a {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 200;
}

/*--navbar end--*/
.swiper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100vh;
}

.slider-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 35%;
    left: 50%;
    width: 40%;
}

.slider-text h2 {
    font-size: 44px;
}

.slider-text p {
    font-size: 25px;
}

.slider-text a {
    padding: 10px 20px;
    margin: 20px 0;
    background: #57457f;
    color: var(--color-white);
    width: 300px;
    font-weight: 200;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.sldtxt2 a {
    width: 145px;
    background: #ED3A79;
}

.sldtxt3 a {
    width: 175px;
    background: #00D0B2;
}

.sldtxt4 a {
    width: 185px;
    background: #F26C3B;
}

.sldtxt5 a {
    width: 250px;
    background: #00BCE9;
}

/*--section Identity Files start--*/
#identity {
    position: relative;
    background: url(imgs/EidIdentityBG.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    margin-bottom: 0;
    padding-bottom: 0;
}

#identity .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 5rem 7%;
    place-content: center;
}

#identity .cards .img {
    position: relative;
    height: 218px;
    width: 166px;
    background: #fcb415;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#identity .cards .img img {
    height: 218px;
    width: 166px;
    scale: 0.7;
}

#identity .cards .btn1 {
    background: #ED3A79;
    width: 166px;
    padding: 5px;
    margin-top: 1rem;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#identity .cards .btn2 {
    background: #6c63ff;
    width: 166px;
    padding: 5px;
    margin-top: 1rem;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


#identity .cards .btn3 {
    background: #00BCE9;
    width: 166px;
    padding: 5px;
    margin-top: 1rem;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


#identity .cards .btn4 {
    background: #F26C3B;
    width: 166px;
    padding: 5px;
    margin-top: 1rem;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


#identity .cards .btn5 {
    background: #00D0B2;
    width: 166px;
    padding: 5px;
    margin-top: 1rem;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#identity .cards a {
    color: var(--color-white);
}

.file-docer-1 img {
    position: absolute;
    width: 150px;
    height: 106px;
    top: 105px;
    right: 200px;
    z-index: -3;
}

.file-docer-4 img {
    position: absolute;
    width: 180px;
    height: 105px;
    right: -50px;
    top: 350px;
    z-index: -3;

}

.file-docer-5 img {
    position: absolute;
    width: 80px;
    height: 105px;
    left: 269px;
    bottom: 0;
}

/*--section Eid Greetings start--*/
#greetings {
    position: relative;
    background: #7862aa;
    height: 100vh;
    width: 100%;
    z-index: 10;
}

.docer-1 img {
    position: absolute;
    width: 100px;
    height: 113px;
    right: 200px;
    top: 120px;
    z-index: -1;
}

.docer-2 img {
    position: absolute;
    width: 150px;
    height: 115px;
    left: 200px;
    top: 0;
    z-index: -1;
}

#greetings .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 7rem 0 0rem;
}

#greetings .eid-cards img {
    width: 355px;
    height: 370px;
}

#greetings .steps {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#greetings .steps h2 {
    font-size: 45px;
}

#greetings .steps p {
    font-size: 22px;
}

#greetings .steps img {
    width: 270px;
    height: 80px;
    margin: 2rem 0;

}

#greetings .steps a {
    background: #fcb415;
    color: var(--color-white);
    padding: 5px 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/*--section Eid Greetings end--*/

/*--footer start--*/
footer {
    background:url("imgs/EidGreetingsBG.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #886dc7;
    padding: 6rem 0;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer .container .svg1 {
    border-right: 1px solid #ffffff;
    padding-right: 3rem;
}

footer .container .svg2 {
    padding-left: 3rem;
}
/*--footer end--*/


/*--soon page--*/
#soon {
    background: url(imgs/soon-bg-en.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

#soon .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


#soon .text h1 {
    font-size: 90px;
    font-weight: 700;
}